.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cabecalho__subtitulo {
    color: var(--vermelho);
    font-weight: var(--peso-forte);
    margin-bottom: 1.5rem;
}

.cabecalho__titulo {
    font-weight: var(--peso-forte);
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--preto);
}

.cabecalho__texto{
    line-height: 1.875rem;
}