.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 7rem;
    box-sizing: border-box;
    font-weight: var(--peso-media);
}

.navegacao__logo{
    display: flex;
    align-items: center;
}

.navegacao-logo__texto{
    margin-left: 0.5rem;
    color: var(--cinza-escuro);
}

.navegacao-menu{
    display: flex;
}

.navegacao-menu__item {
    margin-left: 2rem;
}


