:root{
    /* CORES */
    --vermelho: #8E2424;
    --cinza-claro: #667085;
    --cinza-escuro: #3A404E;
    --preto:#101828;
    --branco: #FFFFFF;

    --background-subtitulo: rgba(142,36,36,0.05);
    --background-depoimentos: rgba(195,25,25,0.03);
    --background-rodape: #F9FAFB;

    /* FONTES */
    --fonte-principal: 'Inter',sans-serif;
    --peso-regular:400;
    --peso-media: 500;
    --peso-forte:600;
    
}

body {
    font-family: var(--fonte-principal);
    color: var(--cinza-claro);
}

