:root{
    /* CORES */
    --vermelho: #8E2424;
    --cinza-claro: #667085;
    --cinza-escuro: #3A404E;
    --preto:#101828;
    --branco: #FFFFFF;

    /* FONTES */
    --fonte-principal: 'Inter',sans-serif;
    --peso-media: 500;
    --peso-forte:600;
    
}

body {
    font-family: var(--fonte-principal);
    color: var(--cinza-claro);
}

