:root{
    /* CORES */
    --vermelho: #8E2424;
    --cinza: #667085;
    --preto: #3A404E;
    --branco: #FFFFFF;

    /* FONTES */
    --fonte-principal: 'Inter',sans-serif;
    --peso-media: 500;
    --peso-forte:600;
    
}

body {
    font-family: var(--fonte-principal);
    color: var(--cinza);
}

.cor--destaque{
    color: var(--preto)
}
